.item-icon-left ion-spinner {
  float: left;
  margin-left: -3.2em;
  margin-right: 1em;
  margin-top: -0.2em;
 }

.spinner svg {
  width: 28px;
  height: 28px;
  stroke: #999;
  fill: #999;
}


.family-quotes{
	background: #61C436;
	color:#FFF
}

.famous-people{
	background: #CA85CA;
	color:#FFF
}

.fitness-quotes{
	background: #E54E7E;
	color:#FFF;
}

.friendship{
	background: #F4B23F;
	color:#FFF;
}

.funny{
	background: #D53746;
	color:#FFF;
}

.life-hacks{
	background: #CA85CA;
	color:#FFF;
}

.life{
	background: #D9534F;
	color:#FFF;
}

.love{
	background: #EB1F20;
	color:#FFF;
}

.motivational{
	background: #F76D3C;
	color:#FFF;
}

.music{
	background: #61C436;
	color:#FFF;
}

.pet-quotes{
	background: #D9534F;
	color:#fff;
}

.poems{
	background: #CA85CA;
	color:#FFF;
}

.political{
	background: #E54E7E;
	color:#FFF;
}

.sports{
	background: #61C436;
	color:#FFF;
}

.travel-quotes{
	background: #46C49C;
	color:#FFF;
}

.tv-film{
	background: #D9534F;
	color:#FFF;
}

.religious-quotes{
	background: #D53746;
	color:#FFF;
}


.video-game-quotes{
	background: #F76D3C;
	color:#FFF;
}

