<ion-view view-title="The Daily Quotes">
<ion-content class="padding" overflow-scroll="true">
<ion-list class="list-inset">
	<ion-item ng-repeat="quote in quotes" >
		<div class="item item-image">
			<img ng-src="{{quote.url}}">
			<i class="icon ion-social-facebook"></i>
		</div>

		<div class="item tabs tabs-secondary tabs-icon-left tabs-assertive">
			<a class="tab-item" ng-click="shareAnywhere()">
				<i class="icon ion-social-facebook "></i>
				Facebook
			</a>
			<a class="tab-item" href="#">
				<i class="icon ion-social-twitter"></i>
				Twitter
			</a>
			<a class="tab-item" href="#">
				<i class="icon ion-social-whatsapp "></i>
				Whatsapp
			</a>
		</div>
	</ion-item>
</ion-list>

</ion-content>
</ion-view>
